In [2]:
import numpy as np
import pandas as pd
from sklearn import *
import random
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from datetime import datetime
from matplotlib import pyplot as plt

In [3]:
df1= pd.read_csv("G:/Goldman Sachs/Bond Liquidity Prediction/ML_Bond_metadata.csv")

In [4]:
df1.rename(columns={'isin': 'id'}, inplace=True)
df1['Day']= 5

In [5]:
df1['amtIssued']= np.sqrt(np.log(df1['amtIssued']))
df1['amtOutstanding']= np.sqrt(np.log(df1['amtOutstanding']))
df1.issueDate.replace(np.NaN,-1,inplace=True)
df1.maturity.replace(np.NaN,-1,inplace= True)
df1.issueDate=pd.to_datetime(df1.issueDate)
df1.maturity=pd.to_datetime(df1.maturity)
df1['issue_year']=df1.issueDate.dt.year
df1['issue_month']=df1.issueDate.dt.month
df1['issue_day']=df1.issueDate.dt.dayofweek
df1['maturity_year']=df1.maturity.dt.year
df1['maturity_month']=df1.maturity.dt.month
df1['maturity_day']=df1.maturity.dt.dayofweek
df1.couponFrequency.replace(np.NaN, -1,inplace= 1)
df1.ratingAgency1EffectiveDate.replace(np.NaN,-1,inplace=True)
df1.ratingAgency2EffectiveDate.replace(np.NaN,-1,inplace= True)
df1.ratingAgency1EffectiveDate=pd.to_datetime(df1.ratingAgency1EffectiveDate)
df1.ratingAgency2EffectiveDate=pd.to_datetime(df1.ratingAgency2EffectiveDate)
df1['ratingAgency1_year']=df1.ratingAgency1EffectiveDate.dt.year
df1['ratingAgency1_month']=df1.ratingAgency1EffectiveDate.dt.month
df1['ratingAgency1_day']=df1.ratingAgency1EffectiveDate.dt.dayofweek
df1['ratingAgency2_year']=df1.ratingAgency2EffectiveDate.dt.year
df1['ratingAgency2_month']=df1.ratingAgency2EffectiveDate.dt.month
df1['ratingAgency2_day']=df1.ratingAgency2EffectiveDate.dt.dayofweek
df1['Day_differ']=df1.maturity-df1.issueDate

In [6]:
df1['Day_differ']=(df1.Day_differ/np.timedelta64(1,'D')).astype(int)
df1.Day_differ.describe()

count    17261.000000
mean      4284.689126
std       4357.315430
min     -17108.000000
25%       1857.000000
50%       3641.000000
75%       4395.000000
max      36723.000000
Name: Day_differ, dtype: float64

In [7]:
for column in ['market','collateralType','couponType','industryGroup','industrySector','industrySubgroup','maturityType','securityType','paymentRank','ratingAgency1Rating','ratingAgency1Watch','ratingAgency2Rating','ratingAgency2Watch']:
    dummies = pd.get_dummies(df1[column])
    df1[dummies.columns] = dummies

In [8]:
df1.drop(['issueDate','market','collateralType','couponType','industryGroup','industrySector','industrySubgroup','maturity','maturityType','securityType','paymentRank','ratingAgency1Rating','ratingAgency1Watch','ratingAgency2Rating','ratingAgency2Watch','ratingAgency1EffectiveDate','ratingAgency2EffectiveDate'], axis=1, inplace=True)

In [10]:
df1.isnull().any()

id                     False
issuer                 False
amtIssued              False
amtOutstanding         False
coupon                 False
couponFrequency        False
144aFlag               False
Day                    False
issue_year             False
issue_month            False
issue_day              False
maturity_year          False
maturity_month         False
maturity_day           False
ratingAgency1_year     False
ratingAgency1_month    False
ratingAgency1_day      False
ratingAgency2_year     False
ratingAgency2_month    False
ratingAgency2_day      False
Day_differ             False
Market0                False
Market1                False
Market2                False
Market3                False
collateralType0        False
collateralType1        False
collateralType10       False
collateralType11       False
collateralType12       False
                       ...
rating1                False
rating10               False
rating11               False
rating12               False
rating13               False
rating14               False
rating15               False
rating16               False
rating17               False
rating18               False
rating19               False
rating2                False
rating20               False
rating21               False
rating22               False
rating23               False
rating24               False
rating25               False
rating26               False
rating3                False
rating4                False
rating5                False
rating6                False
rating7                False
rating8                False
rating9                False
watch0                 False
watch1                 False
watch2                 False
watch3                 False
dtype: bool

In [10]:
df1.rename(columns={'144aFlag': 'Flag'}, inplace=True)

In [11]:
df1.Flag.replace('flag0',0,inplace= 1)
df1.Flag.replace('flag1',1,inplace= 1)

In [12]:
new=pd.DataFrame(df1)
new.to_csv("G:/Goldman Sachs/Bond Liquidity Prediction/test_10jun2016.csv",index= False)

In [11]:
# for elem in df1['market'].unique():
#     df1[str(elem)] = df1['market'] == elem

In [6]:
# for elem in df1['collateralType'].unique():
#     df1[str(elem)] = df1['collateralType'] == elem

In [7]:
# for elem in df1['couponType'].unique():
#     df1[str(elem)] = df1['couponType'] == elem

In [8]:
# for elem in df1['industryGroup'].unique():
#     df1[str(elem)] = df1['industryGroup'] == elem

In [9]:
# for elem in df1['industrySector'].unique():
#     df1[str(elem)] = df1['industrySector'] == elem

In [10]:
# for elem in df1['industrySubgroup'].unique():
#     df1[str(elem)] = df1['industrySubgroup'] == elem

In [11]:
# for elem in df1['maturityType'].unique():
#     df1[str(elem)] = df1['maturityType'] == elem

In [12]:
# for elem in df1['securityType'].unique():
#     df1[str(elem)] = df1['securityType'] == elem

In [13]:
# for elem in df1['paymentRank'].unique():
#     df1[str(elem)] = df1['paymentRank'] == elem

In [14]:
# for elem in df1['ratingAgency1Rating'].unique():
#     df1[str(elem)] = df1['ratingAgency1Rating'] == elem

In [15]:
# for elem in df1['ratingAgency1Watch'].unique():
#     df1[str(elem)] = df1['ratingAgency1Watch'] == elem

In [16]:
# for elem in df1['ratingAgency2Rating'].unique():
#     df1[str(elem)] = df1['ratingAgency2Rating'] == elem

In [17]:
# for elem in df1['ratingAgency2Watch'].unique():
#     df1[str(elem)] = df1['ratingAgency2Watch'] == elem

In [23]:
# df1.drop(['issueDate','market','collateralType','couponType','industryGroup','industrySector','industrySubgroup','maturity','maturityType','securityType','paymentRank','ratingAgency1Rating','ratingAgency1Watch','ratingAgency2Rating','ratingAgency2Watch'], axis=1, inplace=True)

In [26]:
df1.drop(['ratingAgency1EffectiveDate','ratingAgency2EffectiveDate'],axis=1,inplace=True)

In [28]:
df1.head()

,id,issuer,amtIssued,amtOutstanding,coupon,couponFrequency,144aFlag,Day,Market2,Market1,...,maturity_year,maturity_month,maturity_day,ratingAgency1_year,ratingAgency1_month,ratingAgency1_day,ratingAgency2_year,ratingAgency2_month,ratingAgency2_day,Day_differ
0,isin0,issuer490,4.361928,4.361928,10.000,2.0,flag0,Fri,True,False,...,2016,6,6,1969,12,2,1969,12,2,1766 days
1,isin1,issuer1193,4.402623,4.371346,5.500,2.0,flag0,Fri,True,False,...,2017,8,2,1969,12,2,1969,12,2,2496 days
2,isin2,issuer2943,4.263698,4.263698,5.750,2.0,flag1,Fri,True,False,...,2019,5,6,1969,12,2,1969,12,2,1640 days
3,isin3,issuer3707,4.601614,4.601614,4.750,1.0,flag0,Fri,False,True,...,2023,2,4,2016,3,2,2013,2,1,3593 days
4,isin4,issuer3711,4.581761,4.581761,7.125,1.0,flag0,Fri,False,False,...,1969,12,2,2016,3,2,1969,12,2,-16399 days