In [2]:
import numpy as np
import pandas as pd
from sklearn import *
import random
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from datetime import datetime
from matplotlib import pyplot as plt

In [4]:
df1= pd.read_csv("G:/Goldman Sachs/Bond Liquidity Prediction/ML_Bond_metadata.csv")
df2=pd.read_csv("G:/Goldman Sachs/Bond Liquidity Prediction/price_volume_dataset.csv")
df3=pd.read_csv("G:/Goldman Sachs/Bond Liquidity Prediction/new_price.csv")

In [6]:
df3.head()

    isin side       date  sum(volume)                         time
0  isin0    B  13-May-16      3870000  Fri 13May16 03:55:37.000 pm
1  isin0    B  18-Mar-16      3900000  Fri 18Mar16 02:01:42.000 pm
2  isin0    S  13-May-16      3870000  Fri 13May16 05:04:47.000 pm
3  isin0    S  18-Mar-16      7800000  Fri 18Mar16 11:54:44.000 am
4  isin1    B   6Apr2016      3900000  Wed  6Apr16 10:24:39.000 am

In [7]:
df3.side.replace('B',0,True)
df3.side.replace('S',1,True)
df4 = df3[df3['side'] >= 1]
df5= df3[df3['side'] <= 0]

In [9]:
df4.rename(columns={'isin': 'id'}, inplace=True)
df5.rename(columns={'isin':  'id'},inplace= True)
df4.rename(columns={'sum(volume)': 'sellvolume'}, inplace=True)
df5.rename(columns={'sum(volume)':  'buyvolume'},inplace= True)

C:\Users\RAJAT\Anaconda3\lib\site-packages\pandas\core\frame.py:2754: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

In [10]:
df4.id.describe()

count       176101
unique        8193
top       isin8135
freq            61
Name: id, dtype: object

In [11]:
df5.id.describe()

count       172277
unique        8586
top       isin6243
freq            61
Name: id, dtype: object

In [12]:
df4['Day']=df4.time.apply(lambda x: x.split()[0]).values
df5['Day']=df5.time.apply(lambda x: x.split()[0]).values

C:\Users\RAJAT\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\RAJAT\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [14]:
df5.head()

      id  side       date  buyvolume                         time  Day
0  isin0     0  13-May-16    3870000  Fri 13May16 03:55:37.000 pm  Fri
1  isin0     0  18-Mar-16    3900000  Fri 18Mar16 02:01:42.000 pm  Fri
4  isin1     0   6Apr2016    3900000  Wed  6Apr16 10:24:39.000 am  Wed
5  isin1     0   8Apr2016     740000  Fri  8Apr16 03:33:00.000 pm  Fri
6  isin1     0   9Jun2016     100000  Thu  9Jun16 11:00:00.000 am  Thu

In [13]:
df4.head()

       id  side       date  sellvolume                         time  Day
2   isin0     1  13-May-16     3870000  Fri 13May16 05:04:47.000 pm  Fri
3   isin0     1  18-Mar-16     7800000  Fri 18Mar16 11:54:44.000 am  Fri
13  isin1     1   6Apr2016     4210000  Wed  6Apr16 10:35:21.000 am  Wed
14  isin1     1   8Apr2016      250000  Fri  8Apr16 03:10:40.000 pm  Fri
15  isin1     1   9Jun2016       50000  Thu  9Jun16 11:04:23.000 am  Thu

In [15]:
# df3['Date']=df3['Date'].str.replace('Mar','03')
# df3['Date']=df3['Date'].str.replace('Apr','04')
# df3['Date']=df3['Date'].str.replace('May','05')
# df3['Date']=df3['Date'].str.replace('Jun','06')

In [16]:
# df4['Date']=df4['Date'].str.replace('Mar','03')
# df4['Date']=df4['Date'].str.replace('Apr','04')
# df4['Date']=df4['Date'].str.replace('May','05')
# df4['Date']=df4['Date'].str.replace('Jun','06')

In [17]:
# df3['month']=pd.to_datetime(df3['Date'], format='%d%m%y').dt.month
# df4['month']=pd.to_datetime(df4['Date'], format='%d%m%y').dt.month
# df3['day']=pd.to_datetime(df3['Date'], format='%d%m%y').dt.day
# df4['day']=pd.to_datetime(df4['Date'], format='%d%m%y').dt.day
# df3['hour'] = pd.to_datetime(df3['Time'], format= '%h:%m:%s').dt.hour
# df4['hour'] = pd.to_datetime(df4['time'], format= '%H:%M:%S').dt.hour
# df3['minute'] = pd.to_datetime(df['Time'], format= '%H:%M:%S').dt.minute
# df4['minute'] = pd.to_datetime(df['Time'], format= '%H:%M:%S').dt.minute

In [19]:
file1=pd.DataFrame(df4)
file2=pd.DataFrame(df5)
file1.to_csv("G:/Goldman Sachs/Bond Liquidity Prediction/sell.csv",index=False)
file2.to_csv("G:/Goldman Sachs/Bond Liquidity Prediction/buy.csv",index=False)